*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.text-center{
    text-align: center !important;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.text-white{
    color: #fff !important;
}
.br-col-white{ background-color: #fff !important;}
.br-col{
    background-color: rgba(245, 245, 245, 1) !important;
}
.row{
    margin-left: 150px;
    margin-right: 150px;
}
.col-row{
    padding-left: -16px;
    padding-right: -16px;
}
.col{
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}
.col-half{
    width: 50%;
}
.col-40{
    width: 40%;
}
.col-60{
     width: 60%;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.33333%;
}
.mt-16{
    margin-top: 16px ;
}
/* main */
#main{
    top: 0;
    left: 0;
    position: relative;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
/* header */

/* navbar */
.navbar{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 72px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
.logo-navbar{
    left: 0;
    top: 0;
    width: 80px;
    height: 27px;
    position: absolute;
    margin-top: 20px; 
    margin-left: 150px;
}
.nav{
    display: inline-block;
    list-style-type: none;
}
.nav li{
    position: relative;
    float: left;
}
.nav li a{
    text-decoration: none;
    line-height:72px;
    padding: 0 19px;
    display: block;
    color:#a7a7a7;
    font-size: 14px;  
}
.navbar-right{
    float:right ;
    margin-right: 150px;
}
.ln-white-navbar{
    height: 1px;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}
/* end navbar */
#header{
    position: relative;
    height: 713px;
    background: url('../img/header-panel.jpg')top center/cover no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    
}
#header .header-left{
    float: left;
    padding-top: 15%;
}
.header-br{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#header .mobile-menu-btn{
    display: none;
    position: absolute;
    color: #ccc;
    font-size: 24px;
    line-height: 72px;
    margin-right: 20px;
    font-weight: 400;
}
#header .line{
    width: 65px;
    height: 2px;
    background-color: #fff;
    margin-top: 23px;
    margin-bottom: 23px;
}
.logo-header{
    left: 0;
    top: 0;
    position: relative;
    margin-bottom: 43px;
}

.text-white{
    font-family: 'Raleway Light', 'Raleway Regular', 'Raleway';
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    padding-top: 32px; 
    text-align: left;
    height: 86px;
    line-height: 1.4;
}
.text-header{
    width: 520px;
    height: 69px;
    font-family: 'Raleway Light', 'Raleway Regular', 'Raleway';
    font-size: 16px;
    line-height: 23px;
    padding-top: 32px;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 43px;
    color: rgba(255, 255, 255, 0.8);
}
#header .header-right{
    width: 360px;
    height: 348px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: 15%;
}
.text-box{
    left: 0;
    top: 0;
    position: relative;
    width: 360px;
    height: 348px;    
}
.text-box .copy-text {
    color: #333;
    background-color: #f5f5f5;
    height: 54px;
    line-height:  54px;
    font-weight: 800;
    border-radius: 2px;
    cursor: pointer;
}

.text-box .copy-text a{
    color: #ff8b38;
    text-decoration: none;
}
.text-box .form-control{
    width: 280px;
    height: 31px;
    margin-top: 34px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 90%;
    border: none; 
    border-color: #ccc ;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
    padding: 5px;
}
.input{
    padding: 1px 0px 1px 0px;
}
.text-box .btn{
    color: #fff;
    background: inherit;
    border: 2px solid #ff8b38;
    background-color: #ff8b38;
    height: 54px;
    font-size: 15px;
    font-weight: 600;
    position: relative; 
}
.text-box .btn:hover{
    opacity: 0.9;
}
/* brand-banel */
#brand-banel{
    left: 0;
    top: 0;
    height: 117px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.pane-state-left {
    text-decoration:none;
}
#brand-banel .pane-state-left{
    float: left;
    padding-top: 32px;
}
#brand-banel .pane-state-right{
    left: 0;
    top: 0;
    float: right;
    
}
.heading-features1{
    width: 438px;
    height: 60px;
}
#content .heading-features1,
#brand-banel .heading-pane{
    color: #333;
    height: 27px;
    font-weight: 700;
    font-size: 20px;
    text-align: left; 
}
#content .text-features1,
#content .text-features2,
#brand-banel .text-pane{
    color: #86878B;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.socials-list{
    text-align: right;
    line-height: 117px;
    font-size: 48px;
    font-family: 'FontAwesome Regular', 'FontAwesome';
    float: right;
    position: absolute;
   
}
.socials-list a{
    padding: 20px;  
}
#brand-banel .socials-list a{
    color: #CCCCCC;
    text-decoration: none;
}
#brand-banel .socials-list a:hover{
    color: rgba(0,0,0, 0.7);
}
.ln-white-banel{
    height: 1px;
    overflow: hidden;
    width: 100%;
    background-color: rgba(34, 31, 31, 0.4);
}
/* content  */
#content{
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;

}
#content .features1{    
    height: 595px;

}
#content .features3-left,
#content .features1-left{
    float: left;
    left: 0;
    top: 0;
    margin-top: 8%;
}
#content .box-features1{
    float: left;
    left: 0;
    top: 0;
}
#content .text-featuress{
    left: 816px;
    float: right;
    width: 482px;
    height: 300px;   
}
.text-featuress .text-features1 span{
    margin-top: 43px;
    margin-bottom: 43px;
    font-family: 'Open Sans Regular', 'Open Sans';
}
.features1-img{
   float: right;
}
#content .tab{
    width: 110px;
    height: 110px;
    color: #fff;
    background-color: #000;
    font-weight: 700;
    font-size: 15px;
    border: none;
    display: block;
    padding-top: 5px;
    
}
#content .tab0{
    background-color: #ff8b38 !important;
    margin-bottom: 2px;
    
}
#content .tab1{
    margin-bottom: 2px;
}
.content-btn{
    color: #fff;
    background: inherit;
    background-color: rgba(255, 139, 56, 1);
    width: 145px;
    height: 44px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    margin-top: 32px;
}
#content .content-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
#content .line{
    width: 65px;
    height: 2px;
    background-color: #ff9b51;
    margin-top: 25px;
    margin-bottom: 25px;
}
#content .features2-right,
#content .features1-right{
    left: 0;
    top: 0;
    height: 253px;
    float: right;
    margin-top: 10%;
}
#stylish .btn, 
.header-left  .btn{
    color: #fff;
    background: none;
    border: 2px solid #fff;
    padding: 12px 36px;
    font-weight: 600;
    margin-top: 32px;
    font-size: 15px;
}
.header-left  .btn:hover,
#stylish .btn:hover{
    color:rgba(14, 12, 12, 0.8);
    background-color: #ccc;
}

#content .content-features{
    margin-left: auto;
    margin-right: auto;
}
.features2{
    height: 596px;
}

.features2-left-img{
    left: -50px;
    top: -30px;
    width: 553px;
    height: 403px;
}
.features2-right-img{
    left: -50px;
    top: -30px;
    width: 553px;
    height: 403px;
    
}
.features3-right{
    padding-top: 55px;
}
.features-two{
    margin-top: 1.5em;
}
.left{
    float: left;
    text-align: left !important;
}
.right{
    float: right;
    text-align: right !important;
}
.icon-about,
#content .features2-right,
#content .features1-right{
    color: #ff8b38;
    font-size: 32px;
    font-weight: 400;
}
.cloud-down{
    padding-top: 15px;
}
.heading-title{
    float: left;
    color: #000;
    height: 17px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 50px;
}
.content-title{
    margin-top: 25px;
    display: flex;
}
.icon{
    font-size: 18px;
    font-weight: 600;
}
.icon-main{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-title{
    float: left;
    color: #86878B;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 50px;
}
#about .about-text-title p{
    width: 345px;
    height: 59px;
}
.features3{
    left: 0px;
    top: 0px;
    height: 524px;
}
/* /About  */
#about {
    height: 592px;
    text-align: center;
    padding-top: 8%;
}
.heading-about,
.heading-stylish{
    width: 478px;
    height: 43px;
    font-family: 'Raleway Regular', 'Raleway';
    font-weight: 400;
    font-size: 36px;
    color: #212121;
    text-align: center;
    line-height: 43px;
}
.line-center{
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    margin: 2% 0 2% 47% ;
}
.text-stylish{
    color: rgba(255, 255, 255, 0.8);
}
.text-about{
    color: #86878B;
}
.text-stylish,
.text-about{
    width: 766px;
    height: 23px;
    font-family: 'Raleway Light', 'Raleway Regular', 'Raleway';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 23px;
}
.third-box{
    margin-top: 6%;
}
.about-box{
    display: block;
    justify-content: center;
    text-align: center;
    float: left;
}
.icon-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
.icon-main-about{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size:32p;
}
.heading-title-about{
    width: 182px;
    height: 27px;
    text-align: center;
    color: #333;
    width: 359px;
    font-family: 'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
    font-size: 20px;
    font-weight: 700;
}
.text-title-about{
    height: 60px;
    position: relative;
    font-family: 'Open Sans Regular', 'Open Sans';
    color: #86878B;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

/* Pricing */
#pricing {
    height: 883px;
    padding-top: 8%;
    text-align: center;
}
#pricing .pricing-box{
    display: block;
    margin-top: 8%;
}
.pricing-name{
    width: 343px;
    height: 59px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    line-height: 59px;
}
#pricing .ln-white-box {
    left: 0px;
    top: 0px;
    width: 344px;
    font-size: 13px;
    height: 1px;
    color: #333;
    
}
.pricing-number{
    width: 343px !important;
    height: 100px;
    color: #fff;
    background-color: #333;
    font-family: 'Raleway Bold', 'Raleway Regular', 'Raleway';
}
.pricing-number .dolla{
    font-size: 30px;
    font-weight: 600;
}
.pricing-number .number{
    font-size: 70px;
    font-weight: 700;
}
.u1{
    width: 343px;
    height: 51px;
    background-color: #333;
    font-family: 'Open Sans Semibold Italic', 'Open Sans Regular', 'Open Sans';
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.498039215686275);
    line-height: 51px;
     
}
.pricing-color{
    width: 343px;
    height: 5px;
    background-color: #ff8b38;
}
.pricing-color-text{
    width: 343px;
    height:40px;
    background-color: #ff8b38;
    color: #fff;
    font-weight: 700;
    font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
    line-height: 40px;

}
.box-p1,
.box-p3{
    margin-top: 3.1%;
}
.text-pricing {
    width: 343px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    color: #86878B;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    box-shadow: 0px 0.5px 0.1px 1px #cccccc;
    display: block;
}
/* Reviews */
#reviews {
    height: 591px;
    padding-top: 8%;
    text-align: center !important;
}
#reviews .member{
    margin-top: 8%;
}
.box-description{
    width: 272px;
    height: 132px;
    background: inherit;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 2px;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 1.4;
    /* font-family: 'Open Sans Italic', 'Open Sans Regular', 'Open Sans'; */
    color: #86878B;  
}
.description {
    margin-left:  16px;
    padding-top:  18px;
    width: 240px;
    height: 95px;
    text-align: left; 
}
.img-avt{
    width: 70px;
    height: 70px;
    display: block;
    float: left; 
   
}
.avt{
    background-color: #fff;
   
    
}
.box-name{
    width: 186px;
    padding-top: 15px;
}
.name{
    width: 186px;
    height: 24px;
    font-family: 'Open Sans Bold', 'Open Sans Regular', 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
}
.posetion{
    width: 61px;
    height: 19px;
    font-family: 'Open Sans Regular', 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
    padding-left: 20px;
}
.img{
    width: 20px;
    height: 15px;
    margin-left: 25px;
}
#stylish{
    height: 320px;
    color: #fff;
    text-align: center;
    background: url('../img/custom-panel.jpg')top center/cover no-repeat ;
    background-attachment: fixed;
}
.stylish-br{
    /* position: absolute; */
    background-color:rgba(0, 0, 0, 0.498039215686275);
    height: 320px;
}
.main-stylish-text{
    padding-top: 6%;
}
/* Contact */
#contact {
    height: 612px;
    padding-top: 8%;
    text-align: center;
}
.contact-left{
    float: left;
    margin-top: 5%;
}
.contact-right{
    float: right;
    margin-top: 5%;
}
.box-left .form-control{
    margin-top: 10px;
    width: 531px;
    height: 35px; 
    width: 100%; 
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    font-family: 'Open Sans Regular', 'Open Sans';
    border: none; 
    border-color: #ccc ;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
    text-decoration: none;
    padding: 5px;
}
.box-left .form-control input{
    position: absolute;
    width: 510px;
    height: 31px;  
}
.box-right{
    margin-left: 45px;
}
.box-right .form-control{
    margin-top: 12px;
    width: 515px;
    height: 154px;
    width: 100%; 
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    font-family: 'Open Sans Regular', 'Open Sans';
    border: none; 
    border-color: #ccc ;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
    padding: 5px;
}
.col-contact{
    padding-right: 32px;
    margin-top: 16px;
}
.contact-btn{
    left: 0px;
    top: 0px;
    float: left;
    color: #fff;
    background-color: rgba(255, 139, 56, 1);
    width: 152px;
    height: 44px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    margin-top: 32px;
    margin-left: 44%;
}
.contact-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
/* input:focus{
    border-color: #ff8b38;
} */
/* footer  */
#footer{
    height: 100px;
    background-color: rgba(0,0,0, 1);
    margin-left: auto;
    margin-right: auto;
}
#footer .socials-list-footer{   
    position: absolute;
    text-align: center;
    padding-top: 30px;
    margin-left: 25%;
}
#footer .socials-list-footer a{
    padding: 15px;
    width: 30px;
    height: 30px;
    font-family: 'FontAwesome Regular', 'FontAwesome';
    font-weight: 400;
    font-size: 24px;
    color: #ccc;
}
#footer .socials-list-footer a{
    color: rgba(255, 253, 253, 1);
    text-decoration: none;
}
#footer .socials-list-footer a:hover{
    color: #ccc; 
}
#footer .text-footer{
    width: 222px;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Open Sans Regular', 'Open Sans';
    color: rgba(255, 255, 255, 0.498039215686275);
    line-height: 20px;
    margin-left: 25%;
    text-align: center;
}
.copytext span{
    color: rgba(255, 255, 255, 0.498039215686275);
    font-family: 'Open Sans Regular', 'Open Sans';
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
#footer .copytext span:hover{
    color: #fff;
}
.default{
    width: 48px;
    height: 48px;
    background-color: #ff8b38;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    margin-left: 90%;
    margin-top: -125px;
}

.default a{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    font-family: 'FontAwesome Regular', 'FontAwesome';
    text-decoration: none;
}

@keyframes modalFadeIn{
    form{  
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}