/* PC */
@media only screen and(min-width:1024px){
   
}
/* Tablet */
@media(min-width:740px) and(max-width:1023px){
    
}
/*Tablet & mobile */
@media(max-width:1023px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .row{
        margin-left: 50px;
        margin-right: 50px;
    }
    .s-col-full{
        width: 100% !important;
    }
    .s-col-20{width:20%}
    .s-col-50{width:50%}
    .s-col-70{width:70%}
    .s-col-80{width:80%}
    .s-col-90{width:90%}
    .s-col-0{width:87%}

    /* header */
    .heading-about{
        text-align: center;
    }
    .logo-navbar{
        margin-left: 27px;
    }
    #nav  {
        margin-right: 50px;
    }
    
    .logo-slider{
        width: 117px;
        height: 40px; 
    }
    .text-white{
        width: 497px;
        height: 37px;
    }
    .slider-left{
        padding-top: 55px;
    }
    .slider-right{
        display: none;
    }
    .text-pane{
        display: none;
    }
    #brand-banel .heading-pane{
        max-width: 124px;
        margin-top: 20px;
    }
    .socials-list {
       font-size: 34px;
    }
    .socials-list a{
        padding: 19px;
    }
    #content .tab{
        width: 80px;
        height: 80px;
    }
    /* features */
    .features1-right{
        display: none;
    }
    #about .fix-box{
        display: block;
    }
    .features-right-img{
        height: 403px;
        margin-left: 35px;
        object-fit: fill;
    }
    
    .features1-right{
        display: none;
    }
    #content .features2{
        height: 772px;
    }
    .features2 .features1-left {
        position: absolute;
        left: -50px;
        top: -30px;
        width: 459px;
        height: 340px;
    }
    #content .features2-left{
        position: absolute;
    }
    #content .features2-left-img{
        position: relative; 
        left: 15em;
        margin-top: 420px;
        width: 459px;
        height: 340px;
    }
    #content .features2-right{
      float: left;
    } 
    .features3 .features2-right-img{
        position: relative;
        width: 553px;
        height: 403px;
    }
    .content-btn{
        margin-top: 20px;
    }
    
    /* about */
    #about{
        height: auto;
        padding-top: 65px;
    }
    .text-title-about{
        margin-bottom: 4em;
        width: 289px;
        height: 79px;
    }
    /* pricing */
    .box-p{
        max-width: 335px;
    }
    .pricing-name{   
        height: 59px;
    }
    .pricing-number{  
        height: 100px;
    }
    .u1{ 
        height: 51px;
    }
    .pricing-color{
        height: 5px;
    }
    .pricing-color-text{
        height: 40px;
    }
    /* reviews */
    .del-tablet{
        display: none;
    }
    /* stylish */
    .text-stylish span{
        width: 563px;
        height: 46px;  
    }
    /* contact */
    #contact{
        height: auto;
        margin-bottom: 65px;
    }
    .col-contact{
        padding-right: 0;
    }
    .box-right{
        margin-left: 0;
    }
    .contact-btn{
       margin-left: 0;
    }
}



/* Mobile */
@media(max-width:740px){
    #main{
        position: relative;
    }
    .row{
        margin-left:20px;
        margin-right: 20px;
    } 
     
    .mb-col-full{
        width: 100% !important;
    }
    #content .features11-left{
        display: block;
    }
    /* header */
    #header .navbar-logo{
        display: block;
        background-color: #000 !important;
        width: 100%;
        height: 74px;
    }
    #nav{
        display:none;
        position: initial; 
        z-index: 99 !important;
    }  
      
    #nav li{
        position: relative;
        display: contents;
        float: left;   
    }
    #nav li a{
        position: relative;
        display: block;
        width: 100%;
        float: left;
        padding-left: 43px;
        line-height: 45px;
    } 
    .text-white{
        width: 280px;
        height: 84px;
    }
    .logo-slider{
        display:block; 
    }
    .navbar{
        z-index: 5;
    }
    #brand-banel{
        display: block;
    }
    #brand-banel .heading-pane{
        width: 176px;
        height: 22px;
        margin-top: -35px;
        margin-left: 126px;
    }
    #header .mobile-menu-btn{
        display: block;
        margin-top: 12px;
    }
    #brand-banel .pane-state-left{
        padding-top: 57px;
    }
    /*slider  */
    .text-slider{
       
        font-size: 14px;
    }
    .slider-left .btn{
        margin-top: 5em;
        margin-bottom: 5em;
    }
    /* brand-banel */
    #brand-banel{
        max-width: 404px;
    }
    .fixbox-mb{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socials-list {
        display: flex;
        font-size: 28px; 
        margin-top: 4em;
        margin-left:-9em; 
     }
    .socials-list a{
        /* margin-top: 9%; */
        padding: 10px;
    }

    /* content */
    #content .tab{
        width: 92px;
        height: 53px;
        float: left;
        font-size: 14px;
    }
    #content .box-features1{
        margin-bottom:35px;
        margin-left: 30px;
    }
    #content .tab1{
        margin: 0px 1px 0px  1px;
    }
    .content-btn {
        margin-top: 3px;
    }
    #content .text-featuress{

       float: left;
    }
    #content .heading-features1{
        height: 22px;width: 277px;
        font-size: 16px;
    }
    .heading-title{
        margin-left: 45px;
    }
    .content-title{
        margin-top: 1.5em;
    }
    .features1-left .features2-left-img{
        width: 380px;
        height: 287px;
        left: -35px;
        top: 485px;
        object-fit: contain;
    }
    #content .features2-left-img{
        width: 380px;
        height: 287px;
        left: 5em;
        margin-top:455px;
    }
    .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #content .features1-left{
        margin-left: 30px;
    }
    #content .features2-right{
        float: revert;
        margin-left: 30px;
    }
    .features3-right{
        margin-top: 45px;
        width: 380px; height: 287px;
    }
    .features-right-img{
        margin-top: -135px;
        display: flex;
        object-fit: contain;
        margin-left: 5rem;
        width: 380px;
        height: 287px;
    }
    .heading-about{
        font-size: 22px;
    }
    .fix-box{
        display: block;
    }
    .about-row{
        display: block;
    }
    /* pricing */
    #pricing .fix-box{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-p2{
        margin-top: 30px;
        text-align: center;
    }
    .box-description {
        text-align: center;
    } 
    #footer{
        padding-bottom: 10px;
        margin-top: 92px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
